*{
  background-color: gray;
}
body{
  width: 480px;
  height: 767px;
  margin-left: auto;
  margin-right: auto;
}


#a{
  width: 480px;
  height: 150px;
}

#b{
  width: 480px;
  height: 150px;
}

#c{
  width: 480px;
  height: 125px;
}

#d{
  width: 480px;
  height: 125px;
}

.middle{
  float: left;
  width: 50%;
  height: 248px;
}
#i{
  clear: left;
  width: 480px;
  height: 80px;
}
